<app-navbar></app-navbar>

<div class="container">
<h1 class="m-5">INICIAR SESION</h1>
<!--<class="m-5">-->
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">e-mail</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)] = "usuario.email">
    </div>
   <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)] = "usuario.password">
    </div>
<button type="submit" class="btn btn-primary" (click)="Ingresar()">Enviar</button>
<div></div>
<button type="submit" class="btn btn-primary" (click)="Logout()">Logout</button>
</div>
