

<a href="https://w.../"><img class="icono_editar" src="assets/ico/boton-editar (2).png" alt="icono_editar"/></a>  
 <a href="https://w.../"><img class="icono_eliminar" src="assets/ico/boton-eliminar.png" alt="icono_eliminar"/></a>   


<div  class="educacion">
    <div> <h3 style="text-align: left;">Educacion... </h3></div>
    
     <div class="container-fluid">
         <div class="row align-items-start">
           <div class="col">
             <div> <img class="universidad" src="assets/image/utn.png"> Ingeniero en Electronica </div>
           </div>
           <div class="col">
            Universidad Tecnologica Nacional
            <p> {{persona.educacion}}</p>
           </div>
          </div>
       
         <div class="row align-items-end">
           <div class="col">
             <div> <img class="escuela" src="assets/image/enet.jpg">   Enet N° 1  </div>
           </div>
         
           <div class="col">
            Tecnico Mecanico Electricista
           </div>
         </div>
       </div>
  </div>
  