
<head>
   
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1,user-scalable=no">
    
   
    <title> PORTFOLIO</title>
   
      
  </head>
       <!-- Programa-->
    
    <div class="logoArgentinaPrograma"> <img class="logo_argentina_programa" src="assets/image/logo_argentina_programa.png" alt="logo_argentina_programa"/></div>
    <a href routerLink="/iniciar-sesion"><img class="icono_login" src="assets/ico/user.png" alt="icono_login"/></a>
    <a href="https://wa.me/543512305521"> <img class="icono_whatsapp" src="assets/ico/whatsapp_ico_negro.png" alt="icono_whatsapp"/>  </a>
    <a href="https://www.instagram.com/waltermartinrossi/"><img class="icono_instagram" src="assets/ico/instagram_ico_negro.png" alt="icono_instagram"/> </a>
    <a href="https://www.facebook.com/walter.rossi.127/"><img class="icono_facebook" src="assets/ico/facebook_ico_negro.png" alt="icono_facebook"/></a>
    <a href=""> <img class="icono_play" src="assets/ico/play.png" alt="icono_play"/>  </a>  
  
    <!-- aria-label="..." on the control -->
  
  
    
   <div class="fondoWeb">
    <img src="assets/image/fondoWeb2.jpg" alt="fondoWeb"/>
    </div>
  
    <div class="container-fluid">
     
            <img class="rounded-circle" src="assets/photo/Walter_Rossi.jpg" alt="imagenWalter" width="960" height="200"/>
            
            <!-- Content here -->
          </div>
         <div><h2 class="nombrePostulante">Walter M. Rossi                  </h2></div>
         <div></div>
         <div> </div>
          <div class="lineas"><hr></div>
  
        
  
        <app-acerca></app-acerca>
  
        <div class="lineas"><hr></div>
        
        <app-experiencia></app-experiencia>       
  
        <div class="lineas"><hr></div>
        
        <app-educacion></app-educacion>
    
        <div class="lineas"><hr></div>
    
        <app-hard></app-hard>
   
  <div class="lineas"><hr></div>

  <div class="lineas"><hr></div>
 
<button class="btn btn-danger">PRUEBA</button>
 <h1>
 
 </h1>
 <app-compo1></app-compo1>

 
 <audio controls><source src="../assets/Music/Música de Fondo Instrumental Inspiradora.mp3" type="audio/mpeg" /></audio> 
 