
      <app-encabezado></app-encabezado>

          <div class="lineas"><hr></div>
  
        
  
        <app-acerca></app-acerca>
  
        <div class="lineas"><hr></div>
        
        <app-experiencia></app-experiencia>       
  
        <div class="lineas"><hr></div>
        
        <app-educacion></app-educacion>
    
        <div class="lineas"><hr></div>
    
        <app-hard></app-hard>
   
  <div class="lineas"><hr></div>

  <div class="lineas"><hr></div>
 
<button class="btn btn-danger">PRUEBA</button>
 <h1>
 
 </h1>
 <app-compo1></app-compo1>

 
 <audio controls><source src="../assets/Music/Música de Fondo Instrumental Inspiradora.mp3" type="audio/mpeg" /></audio> 
 