
<a href="iniciar-sesion"><img class="icono_editar" src="assets/ico/boton-editar (2).png" alt="icono_editar"/></a>  
<a href="https://w.../"><img class="icono_eliminar" src="assets/ico/boton-eliminar.png" alt="icono_eliminar"/></a>   

<div  class="experiencia">
<div> <h3 style="text-align: left;">Experiencia... </h3></div>

<div class="container-fluid">
  <div class="row align-items-start">
    <div class="col">
      <div> <img class="copitec" src="assets/image/copitec.jpg">   Ingeniero </div>
    </div>
    <div class="col">
      Soluciones de Ingenieria
      <p>{{persona.experiencia}}</p>
    </div>
    
  </div>


  <div class="row align-items-end">
    <div class="col">
      <div> <img class="cassa" src="assets/image/cassa.webp">   Docente en Colegio Cassaffousth  </div>
    </div>
  
    <div class="col">
      Electronica Digital IV
    </div>
  </div>
</div>
</div>
