<a href="iniciar-sesion"><img class="icono_editar" src="assets/ico/boton-editar (2).png" alt="icono_editar"/></a>  
<a href="https://w.../"><img class="icono_eliminar" src="assets/ico/boton-eliminar.png" alt="icono_eliminar"/></a>   

<div  class="acerca">
<div> <h2 style="text-align: left;">Acerca de… </h2></div>

<div> 
  <p> Soy Walter Rossi,(Full Stack Developer Jr).</p>
  <p> De profesion soy Ingeniero en Electronica.</p>
  <p> Me gusta programar, soy autodidacta y me apasiona el desarrollo web.</p>
 <p> {{persona.acerca}} <p> <!--   Aca se levanta o leen valores de db-->
</div>   
</div>

